<div fxLayout="row" style="height:100%; padding-bottom:30px;">
  <md-card fxFlex style="padding:0">
    <md-sidenav-container style="height:100%;background-color:white;">
      <md-sidenav mode="side" opened="true" style="width: 256px;box-shadow: 0 0 5px rgba(0,0,0,.2);">
        <md-toolbar color="accent">
          <span style="color:white;">Channels</span>
        </md-toolbar>
        <md-nav-list>
          <md-list-item>
            <div>
              <img mdListAvatar src="/assets/images/stock-profile.jpg">
            </div>
            <div style="padding-top:10px;padding-left:10px;">
              <span mdLine>Jon Raymer</span>
              <p mdLine>Support Ticket</p>
            </div>
          </md-list-item>
          <md-list-item>
            <div>
              <img mdListAvatar src="/assets/images/stock-profile.jpg">
            </div>
            <div style="padding-top:10px;padding-left:10px;">
              <span mdLine>Jon Raymer</span>
              <p mdLine>Support Ticket</p>
            </div>
          </md-list-item>
        </md-nav-list>
      </md-sidenav>

      <md-toolbar color="accent"></md-toolbar>
      <div style="padding:20px;">
        <div fxLayout="row" style="margin-bottom:20px;">
          <div>
            <img style="border-radius:50%;" src="/assets/images/stock-profile.jpg" />
          </div>
          <div style="padding-left:10px;padding-right:10px;">
            <div style="padding:10px; background-color: #0d47a1!important; color: white !important; border-radius:8px;">
              <span style="display:block; font-size:16px;">Jon Raymer</span>
              <span style="font-size:14px;">I have a question about my account.</span>
            </div>
            <div style="margin-top:5px;">
              <span style="font-size:13px;font-weight:bold;">5 min ago</span>
            </div>
          </div>
          <span fxFlex></span>
        </div>

        <div fxLayout="row" style="margin-bottom:20px;">
          <span fxFlex></span>
          <div>
            <img style="border-radius:50%;" src="/assets/images/stock-profile.jpg" />
          </div>
          <div style="padding-left:10px;padding-right:10px;">
            <div style="padding:10px; background-color: #6c6d6e!important; color: white !important; border-radius:8px;">
              <span style="display:block; font-size:16px;">Jon Raymer</span>
              <span style="font-size:14px;">I have a question about my account.</span>
            </div>
            <div style="margin-top:5px;">
              <span style="font-size:13px;font-weight:bold;">5 min ago</span>
            </div>
          </div>
        </div>

        <div fxLayout="row" style="border-top: 1px solid rgba(0,0,0,.12); margin-top: 2rem; padding: 1.5rem 2rem;">
          <div fxFlex fxLayout="row">
            <md-input-container fxFlex>
              <input type="text" mdInput placeholder="Send Message" />
            </md-input-container>
            <button md-fab color="primary" style="margin-left:30px">
              <md-icon>send</md-icon>
            </button>
          </div>
        </div>
      </div>
    </md-sidenav-container>
  </md-card>
</div>
