<div fxLayout="row" fxLayout.lt-lg="column">
  <md-card fxFlex.gt-md="50">
    <div fxLayout="row">
      <h4 class="card-title">Cash Accounts</h4>
      <span fxFlex></span>
      <button md-icon-button [mdMenuTriggerFor]="actionsMenu" style="margin-top: -15px; margin-right: -15px;">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
    <div fxLayout="column">
      <md-spinner *ngIf="working"></md-spinner>
      <div fxLayout="row" *ngFor="let account of cashAccounts" class="voyage-table-row">
        <div fxLayout="column">
          <span class="activity-description">{{account.name}}</span>
          <span class="activity-account">#{{account.accountNumber}}</span>
        </div>
        <span fxFlex></span>
        <span style="margin-right: 10px;" fxHide.xs>
          <div *ngIf="account.chart.data[0]?.data.length > 1">
            <canvas baseChart
              [datasets]="account.chart.data"
              [labels]="account.chart.labels"
              [options]="account.chart.options"
              [colors]="account.chart.colors"
              [legend]="account.chart.legend"
              [chartType]="account.chart.type" style="width:150px; height:50px;"></canvas>
          </div>
        </span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">{{account.balance | currency:'USD':true}}</span>
          <span class="activity-account">Available balance</span>
        </div>
      </div>
      <div fxLayout="row" class="voyage-table-row" *ngIf="accounts?.length > 0" style="border-bottom:none;">
        <span fxFlex></span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">
            <strong>{{totalCashBalance | currency:'USD':true}}</strong>
          </span>
          <span class="activity-account">Total available balance</span>
        </div>
      </div>
    </div>
  </md-card>

  <md-card fxFlex.gt-md="50">
    <div fxLayout="row">
      <h4 class="card-title">Credit</h4>
      <span fxFlex></span>
      <button md-icon-button [mdMenuTriggerFor]="actionsMenu" style="margin-top: -15px; margin-right: -15px;">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
    <div fxLayout="column">
      <md-spinner *ngIf="working"></md-spinner>
      <div fxLayout="row" *ngFor="let account of creditAccounts" class="voyage-table-row">
        <div fxLayout="column">
          <span class="activity-description">{{account.name}}</span>
          <span class="activity-account">#{{account.accountNumber}}</span>
        </div>
        <span fxFlex></span>
        <span style="margin-right: 10px;" fxHide.xs>
          <div *ngIf="account.chart.data[0]?.data.length > 1">
            <canvas baseChart
              [datasets]="account.chart.data"
              [labels]="account.chart.labels"
              [options]="account.chart.options"
              [colors]="account.chart.colors"
              [legend]="account.chart.legend"
              [chartType]="account.chart.type" style="width:150px; height:50px;"></canvas>
          </div>
        </span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">{{account.balance | currency:'USD':true}}</span>
          <span class="activity-account">Available balance</span>
        </div>
      </div>
      <div fxLayout="row" class="voyage-table-row" *ngIf="accounts?.length > 0" style="border-bottom:none;">
        <span fxFlex></span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">
            <strong>{{totalCreditBalance | currency:'USD':true}}</strong>
          </span>
          <span class="activity-account">Total available balance</span>
        </div>
      </div>
    </div>
  </md-card>
</div>

<md-menu #actionsMenu="mdMenu" [overlapTrigger]="false" xPosition="before">
  <button md-menu-item routerLink="/examples/banking/create-account">
    <span>Create Account</span>
  </button>
</md-menu>
