<div fxLayout="row" fxLayout.lt-lg="column">
  <md-card fxFlex.lt-lg="100" fxFlex="50">
    <div fxLayout="row">
      <h4 class="card-title">My Accounts</h4>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" *ngFor="let account of accounts" class="voyage-table-row">
        <div fxLayout="column">
          <span class="activity-description">{{account.name}}</span>
          <span class="activity-account">#{{account.accountNumber}}</span>
        </div>
        <span fxFlex></span>
        <span class="activity-amount">{{account.balance | currency:'USD':true}}</span>
      </div>
    </div>
  </md-card>
  <md-card fxFlex.lt-lg="100" fxFlex="50">
    <div fxLayout="row">
      <h4 class="card-title">Account Balances</h4>
    </div>
    <div fxLayout="row" *ngIf="barChart != null">
        <canvas baseChart
          [datasets]="barChart.data"
          [labels]="barChart.labels"
          [options]="barChart.options"
          [legend]="barChart.legend"
          [colors]="barChart.colors"
          [chartType]="barChart.type"></canvas>
    </div>
  </md-card>
</div>

<div fxLayout="row" fxLayout.lt-lg="column">
  <md-card fxFlex.lt-lg="100" fxFlex="100">
    <div fxLayout="row">
      <h4 class="card-title">Recent Activity</h4>
    </div>
    <div fxLayout="row" class="voyage-table-row" *ngFor="let transaction of transactions;">
      <div fxLayout="column" class="date-stamp">
        <span class="month">{{transaction.date | date:'MMM'}}</span>
        <span class="day">{{transaction.date | date:'d'}}</span>
      </div>
      <div fxLayout="column" style="margin-left:10px;">
        <span class="activity-description">{{transaction.description}}</span>
        <span class="activity-account">{{transaction.accountName}}</span>
      </div>
      <span fxFlex></span>
      <div style="margin-right:10px;">
        <span class="activity-amount" [ngClass]="{'withdrawal-action': transaction.type == 0}">
          {{transaction.type == 0 ? '-' : ''}}{{transaction.amount | currency:'USD':true}}
        </span>
      </div>
    </div>
  </md-card>
</div>
