<div fxLayout="row" fxLayout.lt-lg="column">
  <md-card fxFlex.gt-md="50">
    <div fxLayout="row">
      <h4 class="card-title">Cash Accounts</h4>
      <span fxFlex></span>
      <button md-icon-button [mdMenuTriggerFor]="cashMenu" style="margin-top: -15px; margin-right: -15px;">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
    <div fxLayout="column">
      <md-spinner *ngIf="working"></md-spinner>
      <div fxLayout="row" *ngFor="let account of cashAccounts" class="voyage-table-row">
        <div fxLayout="column">
          <span class="activity-description">
            <a class="action-link" [routerLink]="['/examples/banking/account-details', account.accountId]">
              {{account.name}}
            </a>
          </span>
          <span class="activity-account">#{{account.accountNumber}}</span>
        </div>
        <span fxFlex></span>
        <span style="margin-right: 10px;" fxHide.xs>
          <div *ngIf="account.chart.data[0]?.data.length > 1">
            <canvas baseChart
              [datasets]="account.chart.data"
              [labels]="account.chart.labels"
              [options]="account.chart.options"
              [colors]="account.chart.colors"
              [legend]="account.chart.legend"
              [chartType]="account.chart.type" style="width:150px; height:50px;"></canvas>
          </div>
        </span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">{{account.balance | currency:'USD':true}}</span>
          <span class="activity-account">Available balance</span>
        </div>
      </div>
      <div fxLayout="row" class="voyage-table-row" *ngIf="accounts?.length > 0" style="border-bottom:none;">
        <span fxFlex></span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">
            <strong>{{totalCashBalance | currency:'USD':true}}</strong>
          </span>
          <span class="activity-account">Total available balance</span>
        </div>
      </div>
    </div>
  </md-card>

  <md-card fxFlex.gt-md="50">
    <div fxLayout="row">
      <h4 class="card-title">Credit</h4>
      <span fxFlex></span>
      <button md-icon-button [mdMenuTriggerFor]="creditMenu" style="margin-top: -15px; margin-right: -15px;">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
    <div fxLayout="column">
      <md-spinner *ngIf="working"></md-spinner>
      <div fxLayout="row" *ngFor="let account of creditAccounts" class="voyage-table-row">
        <div fxLayout="column">
          <span class="activity-description">
            <a class="action-link" [routerLink]="['/examples/banking/account-details', account.accountId]">
              {{account.name}}
            </a>
          </span>
          <span class="activity-account">#{{account.accountNumber}}</span>
        </div>
        <span fxFlex></span>
        <span style="margin-right: 10px;" fxHide.xs>
          <div *ngIf="account.chart.data[0]?.data.length > 1">
            <canvas baseChart
              [datasets]="account.chart.data"
              [labels]="account.chart.labels"
              [options]="account.chart.options"
              [colors]="account.chart.colors"
              [legend]="account.chart.legend"
              [chartType]="account.chart.type" style="width:150px; height:50px;"></canvas>
          </div>
        </span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">{{account.balance | currency:'USD':true}}</span>
          <span class="activity-account">Available balance</span>
        </div>
      </div>
      <div fxLayout="row" class="voyage-table-row" *ngIf="accounts?.length > 0" style="border-bottom:none;">
        <span fxFlex></span>
        <div fxLayout="column" style="text-align: end;">
          <span class="activity-amount">
            <strong>{{totalCreditBalance | currency:'USD':true}}</strong>
          </span>
          <span class="activity-account">Total available balance</span>
        </div>
      </div>
    </div>
  </md-card>
</div>

<div fxLayout="row">
  <md-card fxFlex>
    <div fxLayout="row">
      <h4 class="card-title">
        Citi Simplicity<sup>®</sup> Card - No Late Fees Ever
      </h4>
      <span fxFlex></span>
      <button color="primary" md-raised-button>
        Apply Now
        <md-icon style="font-size:20px;">lock_outline</md-icon>
      </button>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" fxFlex>
        <div>
          <img src="assets/images/credit-card.png" alt="credit-card" style="width:200px;" />
        </div>
        <div fxLayout="row" style="margin-left:30px;">
          <md-icon>star</md-icon>
          <md-icon>star</md-icon>
          <md-icon>star</md-icon>
          <md-icon>star</md-icon>
          <md-icon>star_half</md-icon>
        </div>
      </div>
      <div fxLayout="column" fxFlex style="color: #3a405b;">
        <div fxLayout="row" style="margin-bottom:5px;">
          <div fxLayout="column">
            <span><strong>Intro Purchase APR</strong></span>
            <span>0% for 21 months on Purchases</span>
          </div>
        </div>
        <div fxLayout="row" style="margin-bottom:5px;">
          <div fxLayout="column">
            <span><strong>Intro BT APR</strong></span>
            <span>0% for 21 months on Balance Transfers</span>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column">
            <span><strong>Regular Purchase APR</strong></span>
            <span>14.99% - 24.99% (Variable)</span>
          </div>
        </div>
      </div>
    </div>
  </md-card>
</div>

<md-menu #cashMenu="mdMenu" [overlapTrigger]="false" xPosition="before">
  <button md-menu-item routerLink="/examples/banking/create-account">
    <span>Create Account</span>
  </button>
</md-menu>

<md-menu #creditMenu="mdMenu" [overlapTrigger]="false" xPosition="before">
  <button md-menu-item routerLink="/examples/banking/credit-application">
    <span>Apply for Credit Card</span>
  </button>
</md-menu>
