.activity-description {
  font-size: 18px;
}

.activity-account {
  font-size: 14px;
  font-weight: 400;
  color: #a9a8a8;
  font-style: italic;
}

.activity-amount {
  font-size: 18px;
}

.voyage-table-row {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dddddd;
}
