<!-- Tablet / Desktop -->
<div class="masthead" fxShow fxHide.xs fxHide.sm>
  <div fxLayout="row">
    <span fxFlex></span>
    <md-card fxFlex.md="80" fxFlex.lg="60" fxFlex.xl="50" style="margin-top:100px;">
      <md-spinner *ngIf="working" class="loading-spinner"></md-spinner>
      <div>Create Account</div>
      <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput placeholder="Email" formControlName="email" required>
            <md-error *ngIf="registerForm.controls['email'].hasError('required')">
              Email is required
            </md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="First Name" formControlName="firstName" required>
            <md-error *ngIf="registerForm.controls['firstName'].hasError('required')">
              First Name is required
            </md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Last Name" formControlName="lastName" required>
            <md-error *ngIf="registerForm.controls['lastName'].hasError('required')">
              Last Name is required
            </md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Mobile Phone" formControlName="phoneNumber" required>
            <md-error *ngIf="registerForm.controls['phoneNumber'].hasError('required')">
              Mobile Phone is required
            </md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Username" formControlName="username" required>
            <md-error *ngIf="registerForm.controls['username'].hasError('required')">
              Username is required
            </md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Password" formControlName="password" type="password" required>
            <md-error *ngIf="registerForm.controls['password'].hasError('required')">
              Password is required
            </md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
            <md-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
              Confirm Password is required
            </md-error>
          </md-input-container>
          <div *ngIf="registrationErrors?.length > 0">
            <span *ngFor="let error of registrationErrors" style="color:#f44336">
              {{error.errorDescription}}
              <br />
            </span>
          </div>
          <div fxLayout="column" style="margin-top: 20px;">
            <button md-raised-button color="primary" type="submit" [disabled]="working">
              Register
            </button>
          </div>
        </div>
      </form>
    </md-card>
    <span fxFlex></span>
  </div>
</div>

<!-- Mobile -->
<div class="masthead-mobile" fxHide fxShow.xs fxShow.sm>
  <div fxLayout="column" style="margin-left:10px; margin-right:10px;">
    <span>&nbsp;</span>
    <div style="color:white">Create Account</div>
    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
      <div fxLayout="column">
        <md-input-container class="light-input">
          <input mdInput placeholder="Email" formControlName="email" required>
          <md-error *ngIf="registerForm.controls['email'].hasError('required')">
            Email is required
          </md-error>
        </md-input-container>
        <md-input-container class="light-input">
          <input mdInput placeholder="First Name" formControlName="firstName" required>
          <md-error *ngIf="registerForm.controls['firstName'].hasError('required')">
            First Name is required
          </md-error>
        </md-input-container>
        <md-input-container class="light-input">
          <input mdInput placeholder="Last Name" formControlName="lastName" required>
          <md-error *ngIf="registerForm.controls['lastName'].hasError('required')">
            Last Name is required
          </md-error>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Mobile Phone" formControlName="phoneNumber" required>
          <md-error *ngIf="registerForm.controls['phoneNumber'].hasError('required')">
            Mobile Phone is required
          </md-error>
        </md-input-container>
        <md-input-container class="light-input">
          <input mdInput placeholder="Username" formControlName="username" required>
          <md-error *ngIf="registerForm.controls['username'].hasError('required')">
            Username is required
          </md-error>
        </md-input-container>
        <md-input-container class="light-input">
          <input mdInput placeholder="Password" formControlName="password" type="password" required>
          <md-error *ngIf="registerForm.controls['password'].hasError('required')">
            Password is required
          </md-error>
        </md-input-container>
        <md-input-container class="light-input">
          <input mdInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
          <md-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
            Confirm Password is required
          </md-error>
        </md-input-container>
        <div *ngIf="registrationErrors?.length > 0">
          <span *ngFor="let error of registrationErrors" style="color:white">
            {{error.errorDescription}}
            <br />
          </span>
        </div>
        <span>&nbsp;</span>
        <div fxLayout="column" style="margin-top: 20px;">
          <button md-raised-button color="primary" type="submit">Register</button>
        </div>
      </div>
    </form>
    <span>&nbsp;</span>
  </div>
</div>
