<div fxLayout="row">
  <md-card fxFlex="60" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <md-card-title>Profile</md-card-title>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="25" fxShow fxHide.xs>
          <img src="../assets/images/profile-resize.jpg" alt="profile" style="max-width: 100px; width: 100%; height: auto; border-radius: 50% !important;" />
          <div style="margin-left:15px">
            <h3>Rob Louie</h3>
          </div>
        </div>
        <div fxLayout="column" fxFlex>
          <md-input-container>
            <input mdInput placeholder="Email">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Cell Phone">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="City">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="State">
          </md-input-container>
          <div fxLayout="row" style="margin-top:30px;">
            <span fxFlex></span>
            <button fxFlex="50" fxFlex.xs="100" fxFlex.lg="40" fxFlex.xl="40" md-raised-button color="primary" >Save Changes</button>
          </div>
        </div>
      </div>
  </md-card>
</div>
